.scoreboard {
    font-size:xx-large;
}

.team{
    background-color: blue;
    color:white;
    padding: 5px;
}

.score {
    background-color: darkblue;
    color: white;
    padding: 5px;
}

.quarter {
    background-color: black;
    color: white;
    padding: 5px;
}

.clock {
    background-color: black;
    color:yellow;
    padding: 5px;
}
.clock-close {
    background-color: black;
    color:red;
    padding: 5px;
}

.down{
    background-color: black;
    color:white;
    padding: 5px;
}

.row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}